.signup__container {
  background-color: rgba(235, 240, 252, 1);
  container: signupContainer / inline-size;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: 100%;

  @container signupContainer (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }

  @container signupContainer (max-width: 600px) {
    grid-auto-flow: row;
  }
}

.signup__field {
  padding: 20px;
  background-color: var(--color-type-10);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @container signupContainer (min-width: 600px) {
    flex-direction: row;
  }

  @container signupContainer (max-width: 600px) {
    flex-direction: column;
  }

  h3 {
    font-size: var(--font-size-3);
    font-weight: bolder;
  }

  p {
    font-size: var(--font-size-4);
    padding: 10px 0;
  }

  .field__input {
    form {
      display: flex;
      gap: 5px;

      @container signupContainer (min-width: 480px) {
        flex-direction: row;
      }

      @container signupContainer (max-width: 480px) {
        flex-direction: column;
      }

      input, select {
        display: inline-block;
        font: 500 var(--font-variant-caption);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: var(--border-radius);
        padding: 8px 16px;
        max-width: 370px;
        height: 38px;
      }

      option {
        font: var(--font-variant-caption);
      }

      button {
        font: 600 var(--font-variant-caption);
        text-align: center;
        padding: 8px 16px;
        background: var(--color-type-5);
        border: 1px solid rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        //margin-top: 5px;
        border-radius: 5px;
      }
    }
  }

  .field__image {
    @container signupContainer (max-width: 600px) {
      display: none;
    }
  }
}

.signup__links {
  background-color: var(--color-type-10);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @container signupContainer (min-width: 600px) {
    flex-direction: row;
  }

  @container signupContainer (max-width: 600px) {
    flex-direction: column;
  }

  .links__content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 10px;
  }

  .links__image {
    @container signupContainer (max-width: 600px) {
      display: none;
    }
  }

  .link__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      font: 600 var(--font-variant-sub-title);
    }

    p {
      font: var(--font-variant-caption);
    }
  }

  .links__images {
    img:first-child {
      margin-right: 10px;
    }
  }
}
