.cartCard__container {
    padding: 20px;
}

.cartCard__item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
}

.cartCard__item > div:first-child {
    grid-column: span 2;
}

.item__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.item__image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 10px;
}

.item__image img {
    margin-right: 10px
}

.item__image p {
    font-weight: bold;
    flex-wrap: wrap;
}

.cartCard__images {
    display: flex;
    gap: 20px;
}

.cartCard__content > p {
    font-weight: bold;
}

.cartCart__icons {
    display: flex;
    flex-direction: column;
    width: 20px;
    gap: 10px;
}

#icons {
    font-size: 10px;
    width: 30px;
}