@use "../../styles/objects" as objects;

.clearanceSale {
  padding: 20px;
}

.clearanceSale__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  border-radius: 8px;
  background-color: var(--color-type-7);
}

.clearanceSale__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.clearanceSale__title {
  @extend .title;
}

.clearanceSale__card {
  //padding: 16px;
}

.clearanceSale__image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}
