.Hero__container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-color: var(--color-type-7);
}

.Hero__nav {
    border-radius: 5px;
    background-color: var(--color-type-4);
}

.Hero__nav li {
    padding: 5px 10px;
}

#main {
    display: flex;
    align-items: center;
    color: var(--color-type-6);
}

#main span {
    padding-right: 20px;
}

.Hero__carousel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Carousel__banner {
    background-image: url('../../assets/images/banner.png'); 
    background-size: cover;
    background-position: center;
    width: 850px;
    height: 366px;
    border-radius: 5px;
    margin: 10px;
}

.carousel__side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.Carousel__sidebanner {
    background-image: url('../../assets/images/sidebanner.png'); 
    background-size: cover;
    background-position: center;
    width: 236px;
    height: 176px;
    border-radius: 5px;
    margin-bottom: 10px;
}



