@use "../../styles/tools.breakpoint" as breakpoint;

:root {
  --hero-gap: 20px;
}

.hero {
  //display: flex;
  //flex-direction: row;
  //align-items: flex-start;
  //gap: var(--hero-gap);
  //padding-block: 20px;
  width: 100%;
}

.hero__nav {
  flex: 0 0 20%;
  //border-radius: 5px;
  background-color: var(--color-type-4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  padding: 20px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  li {
    //padding: 10px 0;

    a {
      font-size: var(--font-size-4);
      line-height: 20px;

      &.selected {
        display: flex;
        align-items: center;
        font-weight: 500;
        background-image: url("../../assets/icons/right_arrow.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px 20px;
        padding-right: 20px;
        color: var(--color-type-6);

        span {
          padding-right: 20px;
        }
      }

      &:hover {
        color: var(--color-type-6);
      }
    }
  }
}

.hero-carousel {
  flex: 1;
  display: flex;
  gap: var(--hero-gap);

  &__side {
    display: flex;
    gap: var(--hero-gap);
  }

  @include breakpoint.tablet {
    flex-direction: row;

    &__main {
      width: 75%;
    }

    &__side {
      flex-direction: column;
      width: 25%;
    }
  }

  @include breakpoint.tablet-only {
    flex-direction: column;

    &__side {
      flex-direction: row;
      width: 100%;

      .side-banner {
        flex: 1;
      }
    }
  }
}



