.clearanceSale {
  padding: 20px;
  background-color: #EBF0FC;
}

.clearanceSale__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  border-radius: 8px;
  background-color: var(--color-type-7);
}

.clearanceSale__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.clearanceSale__title {
}

.clearanceSale__card {
  //padding: 16px;
}

.clearanceSale__image {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
