@use "../../styles/tools.breakpoint" as breakpoint;

.clearanceSale {
  padding: 20px;
  background-color: #EBF0FC;
}

.clearanceSale__container {
  display: grid;
  grid-gap: 10px;
  border-radius: 8px;
  background-color: var(--color-type-7);

  @include breakpoint.tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include breakpoint.tablet-only {
    @include breakpoint.phablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint.mobile-only {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.clearanceSale__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.clearanceSale__title {
}

.clearanceSale__card {
  //padding: 16px;
}

.clearanceSale__image {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
