@use "../../styles/tools.breakpoint" as breakpoint;

.deals {
  &-list {
    .deals__header {
      padding-inline: 20px;
    }

    .product-cards {
      &-container {
        //padding-inline: 20px;
      }
    }
  }

  &-grid {
    .deals__header {
      //padding-inline: 20px;
    }

    .product-cards {
      &-container {
        //padding-inline: 20px;
      }
    }
  }

  &-carousel {
    .carousel {
      padding: 20px;
    }
  }
}

.deals__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @include breakpoint.phablet {
    flex-direction: row;
    align-items: center;
  }
  @include breakpoint.mobile-only {
    flex-direction: column;
    align-items: stretch;
  }
}

.deals__list {
  width: 100%;
  //overflow: hidden;
  position: relative;
}

.deals__grid {
}

.deals__title {
}

.deals__text {
}

.deals-today {
  @extend .deals-grid;

  .deals__header {
    @include breakpoint.tablet {
      flex-direction: row;
      align-items: center;
    }

    @include breakpoint.tablet-only {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .deals__text {
  }

  .deals__time {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 5px 10px;
      margin-inline: 10px;
      font: 500 var(--font-variant-label);
      background: var(--color-type-6) none;
      border-radius: 99em;
      border: none;
      color: var(--color-type-4);
    }
  }
}

.deals-recommended {
  //padding-inline: 20px;
}

.deals-by-category {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  gap: 20px;

  .ad-group {
    padding-block: 0 10px;
  }

  .deals-list {
    .product-card {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.deals-more {
  //padding-inline: 20px;
}

.deals-for-you {
  //padding-inline: 20px;
}

.deals-on-electronics {
  //padding-inline: 20px;
}

