@use "../../styles/tools.breakpoint" as breakpoint;

.product-row {
  overflow-x: auto;
  scrollbar-width: none;
  //display: flex;
  //flex-flow: row nowrap;
  //align-items: flex-start;
  //gap: 10px;
  //margin-bottom: 10px;
  //
  //.product-card-container {
  //  flex: 0 0 250px;
  //}

  .product-cards {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    //padding-inline: 20px;
    //gap: 10px;

    &-container {
    }
  }

  .product-card {
    &-container {
      display: flex;
      flex: 0 0 250px;
      padding-right: 10px;
      padding-bottom: 10px;

      &:last-child {
      }
    }
  }
}

.product-group {
  //padding-inline: 20px;
  container: productGroup / inline-size;
  //width: calc(100% + 10px);
  width: 100%;
  //margin-inline: -5px;

  .product-cards {
    &-container {
      @container productGroup (min-width: 800px) {
        --product-card-count: 4;
      }

      @container productGroup (min-width: 600px and max-width: 800px) {
        --product-card-count: 3;
      }

      @container productGroup (max-width: 400px) {
        --product-card-count: 2;
      }
    }

    &:after {
      content: 'flickity';
      display: none; /* hide :after */
    }

    &.flickity-enabled {
      //.flickity-slider {
      //  display: flex;
      //  flex-flow: row nowrap;
      //  gap: 5px;
      //}

      .product-card {
        &-container {
          &:first-child {
            padding-right: 5px;
          }

          &:not(:first-child) {
            padding-left: 5px;
          }
        }
      }
    }

    &:not(.flickity-enabled) {
      display: grid;
      grid-template-columns: repeat(var(--product-card-count), minmax(144px, 1fr));
      padding: 1px;
      gap: 10px;

      .product-card {
        &-container {
          padding-inline: unset;
          width: unset;
        }
      }
    }
  }

  .product-card {
    &-container {
      display: flex;
      //padding-inline: 5px;
      width: calc(100% / var(--product-card-count));
      min-height: 100%;
      //width: 100px;
      //height: 200px;
    }
  }
}
