@use "sass:math";

.product-card {
  display: block;
  position: relative;
  background-color: white;
  container: productCard / inline-size;
  //border: 1px solid rgba(0, 0, 0, 0.1);
  padding: .5rem;
  min-width: 150px;
  width: 100%;

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: .5rem;
    gap: .5rem;

    .discount {
      span {
        display: block;
        color: white;
        background-color: #c40000;
        border-radius: 2px;
        padding: 4px 6px 2px;
        font: var(--font-variant-label);
      }
    }

    .icons {
      .icon {
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, .12);
        border-radius: 5px;
        line-height: 0;
        height: 20px;
        width: 20px;

        svg, img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }

  &__image {
    line-height: 0;
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: .5rem;

    .image {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__details {
    padding: .5rem;

    .text {
      text-align: left;

      &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0, 0, 0, .87);
        margin-bottom: .5rem;

        @container (min-width: 200px) {
          font: 600 var(--font-variant-caption);
          line-height: 20px;
          max-height: 40px;
        }
        @container (max-width: 200px) {
          font: 600 var(--font-variant-label);
          line-height: 16px;
          max-height: 32px;
        }
      }

      &__description {
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0, 0, 0, .5);
        display: none;
        padding: 0;

        @container (min-width: 200px) {
          font: 500 var(--font-variant-caption);
          line-height: 16px;
          max-height: 48px;
        }
        @container (max-width: 200px) {
          font: 400 var(--font-variant-label);
          line-height: 14px;
          max-height: 42px;
        }
      }
    }

    .price {
      display: flex;
      justify-content: flex-start;
      flex-flow: row nowrap;
      align-items: center;
      gap: 10px;

      &__current {
        color: rgba(0, 0, 0, .75);

        @container (min-width: 200px) {
          font: 500 var(--font-variant-text);
        }
        @container (max-width: 200px) {
          font: 500 var(--font-variant-caption);
        }
      }

      &__initial {
        color: rgba(0, 0, 0, .54);

        &:not(:has(span)) {
          text-decoration: line-through;

          @container (min-width: 200px) {
            font: 400 var(--font-variant-text);
          }
          @container (max-width: 200px) {
            font: 400 var(--font-variant-caption);
          }
        }

        &:has(span) {
          display: flex;
          flex-flow: column;
          align-items: end;
          font: 500 var(--font-variant-label);

          span {
            &.amount {
              text-decoration: line-through;
            }

            &.percentage {
              color: var(--color-green);
              font-weight: 600;
            }
          }
        }
      }
    }

    .rating {
      font-size: 15px;
      unicode-bidi: bidi-override;
      margin-top: 10px;

      &__stars {
        display: inline-block;
        height: inherit;
        position: relative;
        white-space: nowrap;

        .icon {
          fill: none;
          stroke: #005c43;
          stroke-width: 4px;
          display: inline-block;
          height: 1rem;
          width: 1rem;
        }

        &--filled {
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 0;

          .icon {
            fill: #005c43;
          }
        }
      }
    }

    .rating {
      &__stars {
        .icon {
          height: 12px;
          margin-right: 4px;
          width: 12px;
        }
      }
    }
  }
}


