:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  font: 400 var(--font-variant-6);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--theme-color);
  background: var(--theme-background);
  font-size: var(--font-type-1);
  min-height: fit-content;
  position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
  font: inherit;
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  &:not(:only-child) {
    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input, select, textarea, option {
  font: inherit;
  box-sizing: border-box;
  padding: 0;
}

address {
  font-style: normal;

  h4 {
    font: 500 var(--font-variant-4);
    margin-bottom: var(--grid)/2;
  }
}

em {
  text-transform: uppercase;
  font-style: normal;
}

strong {
  font-weight: 500;
}

blockquote {
  border-left: 4px solid #EEE;
  padding-left: var(--grid);
  margin: var(--grid) 0;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

img, svg {
  vertical-align: middle;
}

input, button {
  font-family: inherit;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.srt { // Screen reader text
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  word-wrap: normal !important;

  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}
