@use "tools.breakpoint" as breakpoint;
@use "tools.effects";

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: var(--100vh, 100vh);
  //width: var(--100vw, 100vw);
  //overflow: auto;

  .page {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
  }
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100%;
  width: 100%;
  background-color: var(--color-type-7);
}

.aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  flex: .15;
  position: sticky;
  top: 96px;

  &__left {
    align-items: flex-end;
  }

  &__right {
    align-items: flex-start;
  }

  .ad, .ad-group {
    width: 100%;
  }

  @include breakpoint.tablet-only {
    display: none;
  }
}

.content {
  flex: 1;
  height: 100%;
  width: 100%;
  //max-width: 1200px;
  //width: 80%;
}

.logo__text {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding-left: calc(var(--grid) / 3);

  .name,
  .tagline {
    white-space: nowrap;
    line-height: 15px;
  }

  .name {
    font-weight: 700;
  }
}

.title {
  @include breakpoint.phablet {
    font: 600 var(--font-variant-6);
  }
  @include breakpoint.mobile-only {
    font: 600 var(--font-variant-sub-title);
  }
  line-height: 1;
}

.link {
  white-space: nowrap;

  &.--see-more {
    font-weight: 500;
    font-size: var(--font-size-4);
    background-image: url("/assets/icons/right_arrow.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px 16px;
    padding-right: 16px;
    color: var(--color-type-6);
  }

  &.--see-all {
    font-weight: 500;
    font-size: var(--font-size-4);
    padding: 5px 15px;
    background: var(--color-type-8) none;
    border-radius: 99em;
    border: none;
    color: var(--color-type-4);
  }
}

.lead {
  font: 500 var(--font-variant-4);
  margin-bottom: var(--grid);
  text-align: center;
}

.icon {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
  height: 0.9375rem;
  width: 0.9375rem;
}

.icon.is-medium {
  height: 0.9375rem;
  width: 0.9375rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--grid);
  gap: 20px
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.5) none;
  //background: var(--color-type-4) none;
  //border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: calc(var(--grid) * 2) var(--grid);
  gap: 10px;

  .title {
    font: 500 var(--font-variant-sub-title);
    margin-bottom: var(--grid);
  }
}

.label {
  font: 500 var(--font-variant-label);
  text-align: inherit;
}

.input {
  font: 500 var(--font-variant-caption);
  padding: 10px 15px;
  background: var(--color-type-4) none;
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: inherit;
  width: 100%;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.input-field {
  display: flex;
  position: relative;
  width: 100%;
  gap: 10px;

  &:not(:has(.label)) {
    flex-direction: row;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:has(input[type="password"]) {
    //.input {
    //  width: 100%;
    //}

    //.icon {
    //  position: absolute;
    //  top: 50%;
    //  transform: translateY(-50%);
    //  right: 0;
    //  //top: 15px;
    //  z-index: 1;
    //  //right: 10px;
    //  width: 20px;
    //  cursor: pointer;
    //}

    .icon {
      position: absolute;
      top: 15px;
      z-index: 1;
      right: 10px;
      width: 20px;
      cursor: pointer;
    }
  }

  &:has(.label) {
    flex-direction: column;
    align-items: flex-start;

    .label {
      //margin-bottom: var(--grid);
    }
  }

  &:has(.icon) {
    //.input {
    //  width: 100%;
    //}

    .icon {
      position: absolute;
      top: 15px;
      z-index: 1;
      right: 10px;
      width: 20px;
      cursor: pointer;
    }
  }
}


.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;

  cursor: pointer;
  white-space: nowrap;
  color: var(--color-type-8);
  font: 600 var(--font-variant-caption);
  background: var(--color-type-4) none;
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);

  * {
    display: inherit;
    pointer-events: none;
  }

  &:hover {
  }

  &.--primary {
    color: var(--color-black);
    background: var(--color-orange) none;
    //border-color: var(--color-yellow);
  }

  //&.--secondary {
  //  color: var(--color-type-4);
  //  background: var(--color-type-8) none;
  //}

  &.--secondary {
    color: var(--color-green);
    background: transparent;
    border-color: var(--color-green);
  }

  &.--link {
    padding: 0;
    color: var(--color-green);
    background: transparent;
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.--icon {
    background: transparent;
    border: none;
  }

  &.--size-sm {
    font: 600 var(--font-variant-caption);
    padding: 4px 8px;
  }

  &.--size-lg {
    font: 600 var(--font-variant-text);
    padding: 8px 16px;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:not(.--link) {
      border-color: transparent;
      background: rgba(0, 0, 0, 0.1) none;
      color: rgba(0, 0, 0, 0.5);
    }

    &.--link {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.5);
    }

    object {
      pointer-events: none;
      fill: rgba(0, 0, 0, 0.5);
      opacity: 0.5;
    }
  }
}

.btn-group {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 10px;
  padding: 20px;
  background: var(--color-type-4) none;
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;

  .icon {
    fill: var(--color-type-8);
    stroke: var(--color-type-8);
    stroke-width: 0;
    height: 20px;
    width: 20px;

    &.--is-spinning {
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;

  &:before {
    content: "";
    background: rgb(0, 0, 0, .12) none;
    border-radius: var(--border-radius);
    padding: 8px;
    height: 100%;
    width: 100%;
  }
}

.message {
  @extend %effect-swatch-cards;
  border: none;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--grid);
  gap: 5px;

  .title {
    font: 600 var(--font-variant-sub-title);
  }

  .text {
    font: 500 var(--font-variant-caption);
  }

  &[data-status="success"] {
    background: var(--color-green) none;

    .title {
      color: var(--color-off-white);
    }

    .text {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.card {
  @extend %effect-swatch-cards;

  display: flex;
  flex-direction: column;
  padding: var(--grid);
  gap: 10px;
  max-width: 400px;

  .title {
    font: 600 var(--font-variant-sub-title);
  }

  .text {
    font: 500 var(--font-variant-caption);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .title {
      font: 600 var(--font-variant-caption);
      color: var(--color-type-8);
    }

    .text {
      font: 400 var(--font-variant-caption);
      color: var(--color-type-8);
    }
  }

  .image {
    width: 100%;
    height: 200px;
    background: var(--color-type-8) none;
    border-radius: var(--border-radius);
  }

  .link {
    font: 500 var(--font-variant-caption);
    color: var(--color-orange);
  }
}

.card-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
