@font-face {
  font-family: 'Hubot Sans';
  src: url('../fonts/hubot-sans.woff2') format('woff2 supports variations'),
  url('../fonts/hubot-sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}


:root {
  --font-family: "Inter", sans-serif;
  --font-variant-1: 48px/56px var(--font-family);
  --font-variant-2: 40px/48px var(--font-family);
  --font-variant-3: 32px/42px var(--font-family);
  --font-variant-4: 28px/36px var(--font-family);
  --font-variant-5: 24px/32px var(--font-family);
  --font-variant-6: 20px/32px var(--font-family);
  --font-variant-sub-title: 18px/26px var(--font-family);
  --font-variant-text: 16px/24px var(--font-family);
  --font-variant-caption: 14px/20px var(--font-family);
  --font-variant-label: 12px/16px var(--font-family);
  --grid: 24px;
  --theme-color: #222;
  --theme-background: #FFF;
  --border-radius: 4px;

  --color-type-1: rgba(0, 0, 0, 1);
  --color-type-2: rgba(121, 125, 135, 1);
  --color-type-3: rgba(140, 143, 152, 1);
  --color-type-4: rgba(255, 255, 255, 1);
  --color-type-5: rgba(254, 238, 0, 1);
  --color-type-6: #3866DF;
  --color-type-7: rgba(241, 245, 246, 1);
  --color-type-8: rgba(64, 69, 83, 1);
  --color-type-9: rgba(235, 240, 252, 1);
  --color-type-10: rgba(215, 224, 249, 1);
  //--color-type-10: rgba(156, 179, 239, 1);
  --color-type-11: rgba(198, 199, 203, 1);

  --color-green: #2C5F2D;
  --color-off-white: #F5F5F5;
  --color-white: #FFF;
  --color-black: #000;
  --color-yellow: #FEEE00;

  --font-size-1: 20px;
  --font-size-2: 18px;
  --font-size-3: 16px;
  --font-size-4: 14px;
  --font-size-5: 12px;
}

/*
 CSS architecture: https://itcss.io
 CSS code methodology: https://en.bem.info/
 */

@import "tools";
@import "generic";
@import "base";
@import "objects";
@import "components";
