.orderCard__details h3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.form__details {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8C8F98;
    gap: 10px;
    font-size: 12px;

    input {
        border-radius: 5px;
        border: 1px solid rgba(64, 69, 83, 0.30);
        background: white;
        box-shadow: 0 1px 2px 0 rgba(56, 56, 56, 0.08);
        padding: 5px 40px;
        margin-top: 10px;
    }
}

.form__address {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-top: 20px;

    div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    div:first-child {
        margin-right: 10px;
    }
}

.form__buttons {
    margin-top: 10px;

    button:first-child {
        border-radius: 5px;
        padding: 3px 10px;
        background: rgba(254, 238, 0, 1) none;
        box-shadow: 0 1px 2px 0 rgba(56, 56, 56, 0.08);
        border: 1px solid rgba(56, 56, 56, 0.08);
    }

    button:last-child {
        border-radius: 5px;
        padding: 3px 15px;
        background: none;
        box-shadow: 0 1px 2px 0 rgba(56, 56, 56, 0.08);
        border: 1px solid rgba(64, 69, 83, 0.3);
    }
}

