@use "../../styles/tools.effects";

.mini-basket {
  --basket-width: 100%;
  //--margin-top: 112px;
  --margin-top: 0;

  @media screen and (min-width: 500px) {
    --basket-width: 500px;
  }
  @media screen and (max-width: 500px) {
    --basket-width: var(--100vw, 100%);
  }

  display: none;
  position: fixed;
  width: var(--basket-width);
  height: calc(var(--100vh, 100vh) - var(--margin-top));
  top: var(--margin-top);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, .2) transparent;
  scrollbar-gutter: auto;
  bottom: 0;
  z-index: 100;

  /* Off-White Screen Background
  Occupies 60% of the screen
  */
  background: #F5F5F5;

  &.--invisible {
    display: none;
    right: -500px;
  }

  &.--visible {
    display: block;
    right: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    gap: 12px;

    position: relative;
    width: 100%;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;

    background: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    &:hover {
      border-color: #2C5F2D;
    }

    .icon {
      /* icons/delete */
      width: 24px;
      height: 24px;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .text {
      font: var(--font-variant-text);
      height: 24px;
      color: #2C5F2D;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }

  .payment {
    @extend %effect-swatch-cards;

    /* payment */
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    &__methods {
      /* payment_methods */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px;
      gap: 12px;

      width: 100%;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;

      .payment__methods-title {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 10px;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

        .title {
          font: 600 var(--font-variant-sub-title);
        }
      }

      .payment__methods-list {
        /* payment_logos */
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        padding: 0;
        gap: 10px;

        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;

        .list-item {
          flex: 0 0 56px;

          object {
            /* Payment Method */
            width: 56px;
            aspect-ratio: 52.5/36px;

            background: #FFFFFF;
            border-radius: 6px;

            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }
      }

      .payment__methods-list--detailed {
        /* payment_method_list */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap: 6px;

        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        .list-item {
          /* pay_on_delivery_container */
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          //padding: 12px;
          //gap: 10px;

          width: 100%;
          background: rgba(0, 0, 0, .02);
          border-radius: var(--border-radius);

          /* Inside auto layout */
          flex: none;
          order: 2;
          align-self: stretch;
          flex-grow: 0;

          &.--selected {
            /* pay_now_container */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;

            background: rgba(0, 0, 0, .12);

            /* Inside auto layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
          }

          .title {
            font: 600 var(--font-variant-text);
            width: 100%;

            /* Auto layout */
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 12px 24px;
            gap: 10px;

            /* Inside auto layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;

            object {
              /* arrow_up2 */
              width: 24px;
              height: 24px;

              /* Inside auto layout */
              flex: none;
              order: 1;
              flex-grow: 0;
            }
          }

          .form {
            /* payment_details */
            /* Auto layout */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 12px 24px 24px;
            //gap: 12px;
            gap: 0;

            //background: transparent;
            border: none;

            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;

            .input-field {
              max-width: 300px;
              min-width: 150px;
              width: auto;
            }
          }
        }
      }
    }
  }

  .order {
    width: 100%;
    //@extend %effect-swatch-cards;

    //display: flex;
    //flex-direction: column;
    //padding: 12px;
    //gap: 12px;

    /* Inside auto layout */
    //flex: none;
    //order: 0;
    //flex-grow: 0;

    &__list {
      container: order-list / inline-size;
      width: 100%;

      &-item {
        /* product_content_list */
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

        .list-item__actions {
          .checkbox {
            /* checkbox_container */
            width: 24px;
            height: 24px;

            border: 1.4px solid #2C5F2D;
            border-radius: 2px;

            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }

        .list-item__image {
          /* product_image */
          width: 112px;
          height: 112px;

          background: #D9D9D9;
          border-radius: 4px;

          /* Inside auto layout */
          flex: none;
          order: 1;
          flex-grow: 0;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        .list-item__details {
          /* product_details */
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
          gap: 8px;

          //width: 100%;
          //height: 112px;

          /* Inside auto layout */
          //flex: none;
          order: 2;
          //flex-grow: 0;
        }

        .list-item__name {
          /* product_name_container */
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0;

          /* Inside auto layout */
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;

          .title {
            /* placeholder_title */
            width: 100%;
            //height: 26px;

            color: rgba(0, 0, 0, .87);
            font: 600 var(--font-variant-text);
            //line-height: 1.3;

            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
          }

          @container (width > 400px) {
            width: 12ch;

            .title {
              font: 600 var(--font-variant-label);
            }
          }

          @container (width <= 400px) {
            .title {
              font: 600 var(--font-variant-caption);
            }
          }
        }

        .list-item__price {
          //.text {
          //width: 120px;
          //height: 26px;

          color: rgba(0, 0, 0, .54);

          @container (width > 400px) {
            font: 500 var(--font-variant-text);
          }
          @container (width <= 400px) {
            font: 500 var(--font-variant-caption);
          }
          font-variant-numeric: tabular-nums;

          /* Inside auto layout */
          flex: none;
          order: 1;
          flex-grow: 0;
          //}
        }

        .list-item__quantity {
          /* quantity_counter */
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0;
          gap: 8px;

          /* Inside auto layout */
          flex: none;
          order: 2;
          flex-grow: 0;

          object {
            width: 24px;
            height: 24px;
            padding: 4px;
          }

          .icon-minus {
            /* minus */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            gap: 10px;

            width: 24px;
            height: 24px;

            background: var(--color-off-white);

            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;

          }

          .icon-plus {
            /* plus */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0;
            gap: 10px;

            width: 24px;
            height: 24px;

            background: var(--color-green);

            /* Inside auto layout */
            flex: none;
            order: 2;
            flex-grow: 0;
          }

          .input {
            color: #25252E;
            background: #F5F5F5;
            font: var(--font-variant-label);
            font-variant-numeric: tabular-nums;
            border: none;
            width: 10ch;
            height: 24px;
            padding: 4px;

            &[disabled] {
              background: transparent;
              color: rgba(0, 0, 0, .54);
              font-weight: 500;
              padding: 0;
            }
          }

          .quantity {
            /* product_quantity */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            gap: 10px;

            min-width: 56px;
            line-height: 1;
            height: 24px;

            background: #F5F5F5;
            border-radius: 2px;

            /* Inside auto layout */
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;

            .text {
              /* quantity_number */
              //width: 100%;
              //height: 26px;

              font: var(--font-variant-caption);
              //font-variant-numeric: tabular-nums;
              color: #25252E;

              /* Inside auto layout */
              flex: none;
              order: 0;
              flex-grow: 0;
            }
          }
        }

        &:has(.list-item__others) {
          font: 500 var(--font-variant-caption);
          place-content: center;
        }
      }

      &-items {
        /* product_cart_list */
        display: flex;
        flex-direction: column;
        //align-items: flex-start;
        padding: 12px 0;

        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;

        @container (width > 400px) {
          gap: 12px;
        }
        @container (width <= 400px) {
          gap: 6px;
        }

        .order__list-item {
          @extend %effect-swatch-cards;
          padding: 16px 24px;
        }

        .order__list-item {
          @container (width <= 400px) {
            padding: 16px;

            .list-item__image {
              width: 72px;
              height: 72px;
              aspect-ratio: 1;
            }

            .list-item__details {
              gap: 4px;
            }
          }
        }
      }

      &-editable,
      &-disabled {
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;

        .order__list-item {
          @extend %effect-swatch-cards;
          padding: 12px;

          .list-item__image {
            width: 64px;
            height: 64px;
            aspect-ratio: 1;
          }

          .list-item__name {
            padding-right: 12px;
          }

          .list-item__details {
            gap: 4px;
          }

          .list-item__quantity {
            .quantity {
              display: inline-block;
              background: transparent;
              height: auto;
              padding: 0;

              .text {
                font: var(--font-variant-label);
                //font-variant-numeric: tabular-nums;
              }
            }
          }
        }
      }

      &-editable {
        /* product_cart_list */
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 12px 0;
        gap: 6px;

        @container (width <= 400px) {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
      }

      &-disabled {
        /* product_cart_list */
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        gap: 6px;

        width: 100%;
        max-width: calc(var(--basket-width) - ((24px + 12px) * 2));
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        overflow-y: auto;

        .order__list-item {
          flex: 240px 0 0;
        }
      }
    }

    /* payment */
    &__summary {
      /* cart_bill */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px;
      gap: 4px;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;

      .summary-title {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px;
        gap: 10px;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

        .title {
          font: 600 var(--font-variant-sub-title);
        }
      }

      .summary__item {
        /* row */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        .text {
          display: flex;
          align-items: center;
          font: var(--font-variant-caption);
          font-variant-numeric: tabular-nums;

          object {
            width: 24px;
            height: 24px;
            padding: 4px;
          }
        }

        &:last-of-type {
          padding-block: 6px;
          margin-block: 6px;
          border-top: 1px solid rgba(0, 0, 0, .2);

          .text {
            font: 600 var(--font-variant-text);
            font-variant-numeric: tabular-nums;
          }
        }
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    gap: 12px;

    position: relative;
    width: 100%;

    .btn {
      width: 24px;
      height: 24px;

      object {
        width: 24px;
        aspect-ratio: 1;
        padding: 2px;
      }
    }

    .title {
      font: 600 var(--font-variant-5);
      text-align: center;
      flex: 1;
    }
  }

  &__items {
    /* cart_tabs_and_list */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px;
    gap: 24px;

    position: relative;
    width: 100%;
  }
}
