@use "../../styles/tools.breakpoint" as breakpoint;

.product-row {
  overflow-x: auto;
  scrollbar-width: none;
  //display: flex;
  //flex-flow: row nowrap;
  //align-items: flex-start;
  //gap: 10px;
  //margin-bottom: 10px;
  //
  //.product-card-container {
  //  flex: 0 0 250px;
  //}

  .product-cards {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding-inline: 20px;
    //gap: 10px;

    &-container {
    }
  }

  .product-card {
    border: 1px solid rgba(0, 0, 0, 0.1);

    &-container {
      flex: 0 0 250px;
      padding-right: 10px;
      padding-bottom: 10px;

      &:last-child {
      }
    }
  }
}

.product-group {
  padding-inline: 20px;
  container: productGroup / inline-size;

  .product-cards {
    &:not(.flickity-enabled) {
      display: grid;
      grid-template-columns: repeat(var(--product-group-cards), minmax(144px, 1fr));
      gap: 10px;

      @container productGroup (min-width: 800px) {
        --product-group-cards: 4;
      }

      @container productGroup (min-width: 400px and max-width: 800px) {
        --product-group-cards: 3;
      }

      @container productGroup (max-width: 400px) {
        --product-group-cards: 2;
      }

      .product-card-container {
        padding-inline: unset;
        width: unset;
      }
    }
  }

  .product-card {
    &-container {
      padding-inline: 5px;
      width: calc(100% / var(--product-group-cards));

      @container productGroup (min-width: 800px) {
        --product-group-cards: 4;
      }

      @container productGroup (min-width: 400px and max-width: 800px) {
        --product-group-cards: 3;
      }

      @container productGroup (max-width: 400px) {
        --product-group-cards: 2;
      }
    }
  }
}
