@use "../../styles/tools.breakpoint" as breakpoint;

.product-info {
  padding: 20px;
  gap: 20px;

  @include breakpoint.tablet {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
    align-items: start;
  }

  @include breakpoint.tablet-only {
    display: flex;
    flex-direction: column;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .product-images,
  .product-details,
  .product-reviews,
  .related-products {
    width: 100%;
    background: #FFF;
    border-radius: 8px;
    padding: 24px;
  }
}
