@use "../../styles/tools.breakpoint" as breakpoint;

.product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__discount {
    line-height: 0;

    span {
      display: inline-block;
      color: white;
      background-color: #c40000;
      border-radius: 2px;
      padding: 4px 6px 3px;
      font: var(--font-variant-label);
    }
  }

  &__title {
    @include breakpoint.tablet {
      font: 600 var(--font-variant-3);
    }

    @include breakpoint.tablet-only {
      @include breakpoint.phablet {
        font: 600 var(--font-variant-4);
      }
      @include breakpoint.mobile-only {
        font: 600 var(--font-variant-5);
      }
    }

    .title {
      font: inherit;
      line-height: 1.1;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint.tablet {
      font: var(--font-variant-4);
    }

    @include breakpoint.tablet-only {
      @include breakpoint.phablet {
        font: 500 var(--font-variant-5);
      }
      @include breakpoint.mobile-only {
        font: 500 var(--font-variant-6);
      }
    }

    &--current {
      //font: 500 var(--font-variant-text);
      color: rgba(0, 0, 0, 1);
    }

    &--initial {
      color: rgba(0, 0, 0, .54);
      font-size: 80%;
      margin-left: 10px;

      &:not(:has(span)) {
      }

      &:has(span) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 5px;

        span {
          font: 500 var(--font-variant-text);

          &.text {
          }

          &.amount {
          }
        }
      }
    }
  }

  &__description {
    //@include breakpoint.phablet {
    //  font: var(--font-variant-text);
    //}
    //@include breakpoint.mobile-only {
    font: var(--font-variant-caption);
    //}

    .text {
    }

    .metadata {
      margin-top: 10px;

      ul {
        li {
          display: list-item;
          list-style: inside;
        }
      }
    }
  }
}
