.related-products {
  .deals-grid {
    padding-block: 0;
  }

  .deals__header {
    padding: 0;
    margin-bottom: 10px;
  }

  .deals__list {
    .product-group {
      padding-inline: 0;
    }
  }

  .product-cards {
    &-container {
      width: calc(100% + 10px);
      margin-left: -5px;
      margin-right: 5px;
    }
  }

  .product-card {
    border: 1px solid rgba(0, 0, 0, 0.1);

    &-container {
    }

    &__details {
      .text {
        margin: 10px 0 0 0;

        &__title {
          font: 600 var(--font-variant-caption);
          line-height: 16px;
          height: 48px;
          margin-bottom: 0;
        }

        &__description {
          display: none;
        }
      }

      .price {
        &__current {
          font: 500 var(--font-variant-caption);
          color: rgba(0, 0, 0, .54);
        }

        &__initial {
          display: none;
        }
      }

      .rating {
        display: none;
      }
    }
  }
}
