@use "../../../styles/tools.effects";

.order__list {
  container: OrderList / inline-size;
  width: 100%;

  &-item {
    /* product_content_list */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    .list-item__actions {
      .checkbox {
        /* checkbox_container */
        width: 24px;
        height: 24px;

        border: 1.4px solid #2C5F2D;
        border-radius: 2px;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }

    .list-item__image {
      /* product_image */
      width: 112px;
      height: 112px;

      background: #D9D9D9;
      border-radius: 4px;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: #FFF;
      }
    }

    .list-item__details {
      flex: 1;
      /* product_details */
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 8px;

      //width: 100%;
      //height: 112px;

      /* Inside auto layout */
      //flex: none;
      order: 2;
      //flex-grow: 0;
    }

    .list-item__name {
      /* product_name_container */
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0;

      /* Inside auto layout */
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      .title {
        /* placeholder_title */
        width: 100%;
        //height: 26px;

        color: rgba(0, 0, 0, .87);
        font: 600 var(--font-variant-text);
        //line-height: 1.3;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      @container OrderList (width > 400px) {
        //width: 12ch;
        .title {
          font: 600 var(--font-variant-label);
        }
      }

      @container OrderList (width <= 400px) {
        .title {
          font: 600 var(--font-variant-caption);
        }
      }
    }

    .list-item__price {
      //.text {
      //width: 120px;
      //height: 26px;

      color: rgba(0, 0, 0, .54);

      @container OrderList (width > 400px) {
        font: 500 var(--font-variant-text);
      }
      @container OrderList (width <= 400px) {
        font: 500 var(--font-variant-caption);
      }
      font-variant-numeric: tabular-nums;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      //}
    }

    .list-item__quantity {
      /* quantity_counter */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      gap: 8px;

      /* Inside auto layout */
      flex: none;
      order: 2;
      flex-grow: 0;

      .btn-group {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //gap: 10px;

        &.--icon {
          font: var(--font-variant-sub-title);
          font-variant-numeric: tabular-nums;
          padding: 0;
          width: 24px;
          height: 24px;

          span {
            width: 24px;
            height: 24px;
            line-height: 24px;
          }

          &[disabled] {
            background: var(--color-off-white);
            color: var(--color-green);
          }

          &:not([disabled]) {
            background: var(--color-green);
            color: var(--color-off-white);
          }
        }

        &:not(.--icon) {
          font: var(--font-variant-label);
          width: auto;
          height: 24px;
        }

        span {
          display: inline-block;
        }

        object {
          width: 24px;
          height: 24px;
          padding: 4px;
        }
      }

      .icon-minus {
        /* minus */

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      .icon-plus {
        /* plus */
        background: var(--color-green);
        color: var(--color-off-white);

        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;
      }

      .input {
        color: #25252E;
        background: #F5F5F5;
        font: var(--font-variant-label);
        font-variant-numeric: tabular-nums;
        border: none;
        width: 10ch;
        height: 24px;
        padding: 4px;

        &[disabled] {
          background: transparent;
          color: rgba(0, 0, 0, .54);
          font-weight: 500;
          padding: 0;
        }
      }

      .quantity {
        /* product_quantity */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 10px;

        min-width: 56px;
        line-height: 1;
        height: 24px;

        background: #F5F5F5;
        border-radius: 2px;

        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        .text {
          /* quantity_number */
          //width: 100%;
          //height: 26px;

          font: var(--font-variant-caption);
          //font-variant-numeric: tabular-nums;
          color: #25252E;

          /* Inside auto layout */
          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }
    }

    &:has(.list-item__others) {
      font: 500 var(--font-variant-caption);
      place-content: center;
    }
  }

  &-items {
    /* product_cart_list */
    display: flex;
    flex-direction: column;
    //align-items: flex-start;
    padding: 12px 0;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    @container OrderList (width > 400px) {
      gap: 12px;
    }
    @container OrderList (width <= 400px) {
      gap: 6px;
    }

    .order__list-item {
      @extend %effect-swatch-cards;
      padding: 16px 24px;
    }

    .order__list-item {
      @container OrderList (width <= 400px) {
        padding: 16px;

        .list-item__image {
          width: 72px;
          height: 72px;
          aspect-ratio: 1;
        }

        .list-item__details {
          gap: 4px;
        }
      }
    }
  }

  &-editable,
  &-disabled {
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    .order__list-item {
      @extend %effect-swatch-cards;
      padding: 12px;

      .list-item__image {
        width: 64px;
        height: 64px;
        aspect-ratio: 1;
      }

      .list-item__name {
        padding-right: 12px;
      }

      .list-item__details {
        gap: 4px;
      }

      .list-item__quantity {
        .quantity {
          display: inline-block;
          background: transparent;
          height: auto;
          padding: 0;

          .text {
            font: var(--font-variant-label);
            //font-variant-numeric: tabular-nums;
          }
        }
      }
    }
  }

  &-editable {
    /* product_cart_list */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 12px 0;
    gap: 6px;

    @container OrderList (width <= 400px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &-disabled {
    /* product_cart_list */
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    gap: 6px;

    width: 100%;
    max-width: calc(var(--basket-width) - ((24px + 12px) * 2));
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-y: auto;

    .order__list-item {
      flex: 240px 0 0;
    }
  }
}
