@use "../../styles/objects" as objects;

.featured__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  //margin: 0 20px;
  background-color: var(--color-type-5);
}

.featured__title {
  @extend .title;
  //font-weight: 700;
  //font-size: 20px;
}

.featured__gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 20px;
  overflow: hidden;
}

.featured__gallery--item {
  position: relative;
  line-height: 0;
  width: 100%;

  .brand-image {
    width: 100%;
    //aspect-ratio: 1300 / 228;
    //border-bottom: 1px solid #ddd;
    position: relative;
    object-fit: cover;
  }

  .brand-name {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.featured__image {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  padding: 10px 20px;
  line-height: 0;

  .img {
    width: 100%;
    aspect-ratio: 1300 / 228;
    border-bottom: 1px solid #ddd;
    position: relative;
    object-fit: cover;
  }
}

.featured__text {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .text__item {
    padding: 20px 0;

    h3 {
      font-size: var(--font-size-3);
      font-weight: bold;
      padding: 20px 0;
    }
  }
}
