.checkout__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(222, 226, 231, 1);
}

.checkout__title {
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
}
