.productInfo__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.productInfo__images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
}

.productpage__content {
    padding: 20px;
}

.product__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.productpage__border {
    border-bottom: 1px solid rgba(198, 199, 203, 1);
    padding-bottom: 10px;
}

.productpage__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aspira {
    padding: 20px;
    border: 1px solid rgba(229, 52, 32, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.productpage__cart {
    padding: 20px;
}

.cart__button-1 {
    background: none;
    border: none;
    padding: 10px 90px;
    border-radius: 5px;
    color: rgba(56, 102, 223, 1);
    border: 1px solid rgba(56, 102, 223, 1);
}

.cart__button-2 {
    background: none;
    border: none;
    padding: 10px 120px;
    border-radius: 5px;
    background-color: rgba(254, 238, 0, 1);
    color: black;
}

.productpage__logos {
    padding: 20px;
    background-color: rgba(235, 240, 252, 1);
}

.productpage__offers {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offers__content {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.offers__content img {
    margin-right: 10px;
}

.productInfo__delivery {
    padding: 20px;
    border-left: 1px solid rgba(198, 199, 203, 1);
}

.delivery__content > h3 {
    font-weight: bold;
    font-size: var(--font-size-4);
}

.delivery__info p span {
    margin-left: 5px;
}

.delivery__info {
    padding: 10px 0;
    border-top: 1px solid rgba(198, 199, 203, 1);
    border-bottom: 1px solid rgba(198, 199, 203, 1)
}

.delivery__info img {
    margin: 0;
    padding: 0;
}

.delivery__inputs {
    padding-top: 10px;
}

.delivery__inputs > h3 {
    font-weight: bold;
}

.delivery__inputs input {
    margin: 10px 0;
    border-radius: 5px;
    width: 300px;
    border: 1px solid rgba(198, 199, 203, 1);
    text-align: left;
    color: black;
}

#generalLocation::placeholder,
#specificLocation::placeholder {
    padding: 20px 0;
}

.policy__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

