.productInfo__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.productInfo__images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.image__container__main img {
    margin: 0;
    padding: 0;
}

.productPage__content {
    padding: 20px;
}

.product__gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(235, 240, 252, 1);
    padding: 10px;
    gap: 10px;
}

.product__gallery img {
    margin: 0;
    padding: 0;
}

.productPage__border {
    border-bottom: 1px solid rgba(198, 199, 203, 1);
    padding-bottom: 10px;
}

.productPage__title h1 {
    font-weight: bold;
}

.productPage__rating span {
    color: rgba(56, 102, 223, 1);
}

.productPage__saving h3 {
    margin-bottom: 10px;
}

.productPage__saving h3 span {
    text-decoration: line-through;
}

.productPage__saving p {
    margin-bottom: 10px;
}

.productPage__saving p span {
    font-size: 20px;
    font-weight: bold;
}

.productPage__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aspira {
    padding: 20px;
    border: 1px solid rgba(229, 52, 32, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
}

.aspira a {
    color: rgba(56, 102, 223, 1);
    text-decoration: underline;
}

.productPage__cart {
    padding: 20px;
}

.cart__buttons {
    display: flex;
    gap: 10px;
}

.cart__button-1 {
    flex: 1;
    background: none;
    border: 1px solid rgba(56, 102, 223, 1);
    border-radius: 5px;
    padding: 10px;
    color: rgba(56, 102, 223, 1);
}

.cart__button-2 {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: rgba(254, 238, 0, 1) none;
    color: black;
}

.productPage__logos {
    padding: 15px;
    background-color: rgba(235, 240, 252, 1);
}

.productPage__offers {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offers__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offers__content img {
    margin-right: 10px;
}

.productInfo__delivery {
    padding: 20px;
    border-left: 1px solid rgba(198, 199, 203, 1);
}

.delivery__content > h3 {
    font-weight: bold;
    font-size: var(--font-size-4);
}

.delivery__info p span {
    margin-left: 5px;
}

.delivery__info {
    padding: 10px 0;
    border-top: 1px solid rgba(198, 199, 203, 1);
    border-bottom: 1px solid rgba(198, 199, 203, 1)
}

.delivery__info img {
    margin: 0;
    padding: 0;
}

.delivery__inputs {
    padding-top: 10px;
}

.delivery__inputs > h3 {
    font-weight: bold;
}

.delivery__inputs input {
    margin: 10px 0;
    border-radius: 5px;
    width: 300px;
    border: 1px solid rgba(198, 199, 203, 1);
    text-align: left;
    color: black;
}

#generalLocation::placeholder,
#specificLocation::placeholder {
    padding: 20px 0;
}

.policy__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 12px;
}

.policy__item img {
    padding-right: 10px;
}

.policy__text h3 {
    font-weight: bold;
    font-size: 14px;
}

.policy__item a {
    color: rgba(56, 102, 223, 1);
    text-decoration: underline;
    font-size: 12px;
}

.policy__text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.delivery__sell {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
    font-size: 14px;
    gap: 10px;
}

.delivery__sell button {
    border: 2px solid rgba(198, 199, 203, 1);
    background: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.seller__ratings p img {
    margin: 0;
    padding: 0;
}

.delivery__ratings {
    border: 2px solid rgba(198, 199, 203, 1);
    padding: 20px;
    border-radius: 5px;
}

.seller__ratings__item {
    display: flex;
    align-items: center;
    justify-content: left;
}

.seller__ratings__item img {
    padding: 0;
    margin: 0 10px 0 0;
}

.delivery__ImageSeller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    border-bottom: 2px solid rgba(198, 199, 203, 1);
    margin-bottom: 10px;
}

.seller__info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.seller__info a {
    color: rgba(56, 102, 223, 1);
    text-decoration: underline;
    font-size: 18px;
}

.seller__info div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.seller__info div img {
    margin: 0;
    padding:0;
}



