.Carousel__container {
    background-image: url('../../assets/images/banner.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 1300px;
    height: 228px;
    margin: 20px;
}