.carousel {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

[class*="-banner"] {
  //  display: block;
  background-color: rgba(0, 0, 0, .12);
}

.banner {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.banner__img {
  width: 100%;
  height: 100%;
  aspect-ratio: inherit;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.banner__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-banner {
  .carousel {
    aspect-ratio: calc(350 * 3) / calc(275 * 2 + 20);
    //aspect-ratio: 600 / 314;
  }

  .banner {
    aspect-ratio: calc(350 * 3) / calc(275 * 2 + 20);
    //aspect-ratio: 600 / 314;
  }
}

.side-banner {
  .carousel {
    aspect-ratio: 350 / 275;
    //aspect-ratio: 320 / 200;
  }

  .banner {
    aspect-ratio: 350 / 275;
    //aspect-ratio: 320 / 200;
  }
}

.vendor-banner {
  .carousel {
    aspect-ratio: 1300 / 228;
  }

  .banner {
    aspect-ratio: 1300 / 228;
  }
}

.offer-banner {
  .carousel {
    aspect-ratio: 1300 / 228;
  }

  .banner {
    aspect-ratio: 1300 / 228;
  }
}

.category-banner {
  padding: 20px;
  margin-bottom: 20px;

  .carousel {
    aspect-ratio: 728 / 90;
  }

  .banner {
    aspect-ratio: 728 / 90;
  }
}

/* smaller, dark, rounded square */
//.flickity-button {
//  background: #333;
//}
//
//.flickity-button:hover {
//  background: #F90;
//}

.flickity-prev-next-button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  //width: 32px;
  //height: 32px;
  //flex-shrink: 0;

  //fill: var(--White-YourBasket---White, #FFF);
  //opacity: 0.76;
  //mix-blend-mode: overlay;
}

/* icon color */
.flickity-button-icon {
  width: 50%;
  height: 50%;
  //  view-box: 0 0 14 16;
  //  width: 12.778px;
  //  height: 15.333px;
  //  flex-shrink: 0;
  //  fill: white;
}

/* position outside */
//.flickity-prev-next-button.previous {
//  left: -40px;
//}
//
//.flickity-prev-next-button.next {
//  right: -40px;
//}

.flickity-page-dots {
  /* position dots up a bit */
  bottom: 10px;
  line-height: 0;

  /* dots are lines */
  .dot {
    height: 4px;
    width: 24px;
    margin: 0 2px;
    opacity: 1;
    background-color: var(--color-type-4);
    border-radius: 0;
    line-height: 0;

    &.is-selected {
      background-color: var(--color-type-5);
    }
  }
}
