.carousel {
    border-radius: 5px;
    margin: 20px;
}

.carousel__item {
    width: 100%;
    aspect-ratio: 1300 / 228;

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.carousel__arrows {}
