.footer__nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px;
  margin: 20px;
  padding-bottom: 20px;
}

.footer__nav__item {
  ul {
    font-size: var(--font-size-5);

    a:hover {
      text-decoration: underline;
    }
  }

  h3 {
    font-weight: bold;
    font-size: var(--font-size-3);
  }
}

.footer__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-type-8);
  font-size: var(--font-size-5);
  color: var(--color-type-4);
  padding: 0 10px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  ul li {
    padding: 10px 0;
  }
}

.footer__socials {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-weight: bold;
  }

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding-top: 5px;
  }

  .payment-icons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

    img:not(:last-child) {
      margin-right: 10px;
    }
  }
}





