@use "../../styles/tools.breakpoint" as breakpoint;

.search {
  display: flex;
  // max-width: 100%;
  // width: 100%;

  @include breakpoint.tablet {
    flex-direction: row;
  }

  @include breakpoint.tablet-only {
    flex-direction: column;
  }
}

.search-filters {
  flex: 0 0 300px;

  .filters {
    padding: 20px;
  }

  .filter {
    // display: none;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }

  .filter__title {
    .title {
      font-size: var(--font-size-3);
      font-weight: 600;
      padding: 20px;
    }
  }

  .filter__options {
    & > * {
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      padding: 20px;
    }

    .search {
      input {
        font-size: var(--font-size-4);
        width: 100%;
        padding: .25rem 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);

        &:focus {
          border: 1px solid rgba(0, 0, 0, 0.4);
          outline: none;
        }
      }
    }

    .inputs {
      display: flex;
      align-items: center;
      gap: .25rem;

      input,
      button {
        line-height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
      }

      input {
        flex: 1;
        text-transform: uppercase;
        font-size: var(--font-size-4);
        min-width: 5ch;
        max-width: 10ch;

        &:focus {
          border: 1px solid rgba(0, 0, 0, 0.4);
          outline: none;
        }
      }

      button {
        border-color: transparent;
        background: rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        font-size: var(--font-size-5);
        font-weight: 500;

        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }

      span {
        text-transform: uppercase;
        font-size: var(--font-size-5);
        font-weight: 500;
      }
    }

    .options {
      &:has(.option) {
        padding-block: 20px;
        max-height: 200px;
        //scrollbar-width: auto;
        //scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
        overflow: auto;
      }

      .options {
        max-height: max-content;
        overflow: auto;

        &:has(.option) {
          padding-block: 10px;
        }
      }

      .option {
        .option {
          padding-left: 20px;
          border-left: 1px solid rgba(0, 0, 0, 0.2);
          margin-left: 10px;
        }

        &:not(:last-of-type) {
          .option__name,
          &:not(:has(.option__name)) {
            padding-bottom: .25rem;
          }
        }

        .option__name,
        &:not(:has(.option__name)) {
          display: flex;
          font-size: var(--font-size-4);
          line-height: 20px;
          cursor: pointer;

          &:before {
            content: "";
            width: 20px;
            height: 20px;
            margin-right: 010px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            display: inline-block;
            aspect-ratio: 1;
          }

          &:hover {
            color: var(--color-type-8);

            &:before {
              background-color: currentColor;
            }
          }
        }

        .option__name.selected {
          color: var(--color-type-8);

          &:before {
            background-color: currentColor;
          }
        }
      }
    }
  }
}

.search-results {
  flex: 1;

  .results {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      width: 100%;
    }

    &__title {
      .title {
        font-weight: 600;
        font-size: var(--font-size-3);
        margin-bottom: 10px;
      }

      .count {
        font-size: var(--font-size-4);
        color: var(--color-type-8);
      }
    }

    &__sort {
      display: flex;
      font-size: var(--font-size-4);
      line-height: 16px;

      .sort__label {
        font-weight: 500;
        color: var(--color-type-8);
        padding: 10px;
      }

      .sort__options {
        display: flex;
        align-items: center;
        gap: 10px;

        select {
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 10px;
        }

        option {
          font-size: var(--font-size-4);
          line-height: 16px;
          display: flex;
          gap: 10px;

          &:hover {
            font-weight: 500;
            color: var(--color-type-8);
          }
        }
      }
    }

    &__list {
      .product-cards {
        display: grid;
        gap: 10px;

        @include breakpoint.phablet {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        @include breakpoint.mobile-only {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }

      .product-card-container {
        flex: unset;
        padding-right: 0;
      }
    }
  }
}
