@use "../../styles/tools.breakpoint" as breakpoint;

.search {
  padding-block: 20px;

  &__header {
    .breadcrumbs {
      padding-inline: 20px;
      margin-bottom: 20px;
    }
  }

  &__content {
    display: flex;
    // max-width: 100%;
    // width: 100%;

    @include breakpoint.tablet {
      flex-direction: row;
    }

    @include breakpoint.tablet-only {
      flex-direction: column;
    }
  }
}

.search-filters {
  flex: 0 0 300px;
  padding-inline: 20px;

  .filters {
  }

  .filter {
    // display: none;
    //border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .filter__title {
    .title {
      padding: 10px 20px;
      font-size: var(--font-size-3);
      font-weight: 600;
    }
  }

  .filter__options {
    & > * {
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    .search {
      input {
        font-size: var(--font-size-4);
        width: 100%;
        padding: .25rem 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:focus {
          border: 1px solid rgba(0, 0, 0, 0.2);
          outline: none;
        }
      }
    }

    .inputs {
      display: flex;
      align-items: center;
      gap: .25rem;

      input,
      button {
        line-height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px;
      }

      input {
        flex: 1;
        text-transform: uppercase;
        font-size: var(--font-size-4);
        min-width: 5ch;
        max-width: 10ch;

        &:focus {
          border: 1px solid rgba(0, 0, 0, 0.4);
          outline: none;
        }
      }

      button {
        border-color: transparent;
        background: rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        font-size: var(--font-size-5);
        font-weight: 500;

        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }

      span {
        text-transform: uppercase;
        font-size: var(--font-size-5);
        font-weight: 500;
      }
    }

    .options {
      &:has(.option) {
        padding-block: 20px;
        max-height: 200px;
        //scrollbar-width: auto;
        //scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
        overflow: auto;
      }

      .options {
        max-height: max-content;
        overflow: auto;

        &:has(.option) {
          padding-block: 6px;
        }
      }

      .option {
        .option {
          border-radius: 0;
          border-left: 1px solid rgba(0, 0, 0, 0.2);
          padding-left: 15px;
          margin-left: 10px;
        }

        &:not(:last-of-type) {
          .option__name,
          &:not(:has(.option__name)) {
            padding-bottom: .25rem;
          }
        }

        .option__name,
        &:not(:has(.option__name)) {
          display: flex;
          font-size: var(--font-size-4);
          line-height: 16px;
          padding-block: 2px;
          cursor: pointer;

          &:not(:has(input[type="checkbox"])) {
            &:before {
              content: "";
              width: 16px;
              height: 16px;
              margin-right: 8px;
              border: 1px solid rgba(0, 0, 0, 0.2);
              display: inline-block;
              aspect-ratio: 1;
            }
          }

          &:hover {
            color: var(--color-type-8);

            &:before {
              background-color: currentColor;
            }
          }

          &.selected {
            color: var(--color-type-8);

            &:before {
              background-color: currentColor;
            }
          }
        }

        .option__name {
          input[type="checkbox"] {
            width: 16px;
            height: 16px;
            opacity: .75;
            margin-right: 8px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: inline-block;
            aspect-ratio: 1;
          }

          label {
            flex: 1;
          }
        }
      }
    }
  }
}

.search-results {
  container: searchResults / inline-size;
  padding-inline: 20px;
  flex: 1;

  .results {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
    }

    &__title {
      .title {
        font-weight: 600;
        font-size: var(--font-size-3);
      }

      .count {
        font-size: var(--font-size-4);
        color: var(--color-type-8);
        line-height: 1;
      }
    }

    &__sort {
      display: flex;
      font-size: var(--font-size-4);
      line-height: 16px;

      .sort__label {
        font-weight: 500;
        color: var(--color-type-8);
        padding: 10px;
      }

      .sort__options {
        display: flex;
        align-items: center;
        gap: 10px;

        select {
          background: white;
          //border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0;
          border: none;
          padding: 10px;
        }

        option {
          font-size: var(--font-size-4);
          line-height: 16px;
          display: flex;
          gap: 10px;

          &:hover {
            font-weight: 500;
            color: var(--color-type-8);
          }
        }
      }
    }

    &__list {
      .product-grid {
        //padding-inline: 20px;
        container: productGrid / inline-size;
        //width: calc(100% + 10px);
        //margin-inline: -5px;
      }

      .product-cards {
        display: grid;
        grid-template-columns: repeat(var(--product-card-count), minmax(0, 1fr));
        gap: 10px;

        &-container {
          @container productGrid (min-width: 800px) {
            --product-card-count: 4;
          }

          @container productGrid (min-width: 600px and max-width: 800px) {
            --product-card-count: 3;
          }

          @container productGrid (max-width: 400px) {
            --product-card-count: 2;
          }
        }
      }

      .product-card-container {
        flex: unset;
        padding-right: 0;
        display: flex;

        .product-card__details {
          .title__description {
            display: initial;
          }

          .price {
            margin: 10px 5px 0 0;
          }
        }
      }

      .page-filters {
        display: flex;
        justify-content: space-between;
        padding-block: 20px;
        //border-top: 1px solid rgba(0, 0, 0, 0.1);
        //border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .input, .btn {
          background: white;
          //border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0;
          border: none;
        }

        .btn-group {
          gap: 5px;
        }

        .btn {
          font-size: var(--font-size-4);
          padding: 10px 15px;
          //line-height: 16px;

          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }

        .page-filters__count {
          font-size: var(--font-size-4);
          color: var(--color-type-8);
        }

        .page-filters__pagination {
          display: flex;
          gap: 5px;

          .page-filters__pagination--active {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
