@use "../../../styles/tools.effects";

.mini-basket__edit {
  /* checkout_information */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .payment {
    @extend %effect-swatch-cards;
    padding: 12px;
  }

  .btn-group {
    /* buttons */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 12px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
