@use "../../../styles/tools.effects";

.mini-basket {
  --basket-width: 100%;
  //--margin-top: 112px;
  --margin-top: 0;

  @media screen and (min-width: 500px) {
    --basket-width: 500px;
  }
  @media screen and (max-width: 500px) {
    --basket-width: var(--100vw, 100%);
  }

  display: none;
  position: fixed;
  width: var(--basket-width);
  height: calc(var(--100vh, 100vh) - var(--margin-top));
  top: var(--margin-top);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, .2) transparent;
  scrollbar-gutter: auto;
  bottom: 0;
  z-index: 100;

  /* Off-White Screen Background
  Occupies 60% of the screen
  */
  background: #F5F5F5;
  border-left: 1px solid rgba(0, 0, 0, .12);
  box-shadow: 0 0 12px rgba(0, 0, 0, .12);

  &.--invisible {
    display: none;
    right: -500px;
  }

  &.--visible {
    display: flex;
    flex-flow: column nowrap;
    padding: 24px;
    gap: 24px;
    right: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    gap: 12px;

    position: relative;
    width: 100%;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 8px;

    .tab {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px 12px;
      gap: 4px;

      background: #FFFFFF;
      border: 1px solid transparent;
      border-radius: 24px;

      flex: none;
      order: 0;
      flex-grow: 0;

      &:hover {
        border-color: #2C5F2D;
      }

      .icon {
        /* icons/delete */
        width: 24px;
        height: 24px;
      }

      .text {
        font: var(--font-variant-text);
        height: 24px;
        color: #2C5F2D;
      }
    }
  }

  .payment {
    //@extend %effect-swatch-cards;

    /* payment */
    //display: flex;
    //flex-direction: column;
    //padding: 12px;
    //gap: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    &__methods {
      /* payment_methods */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px;
      gap: 12px;

      width: 100%;

      .payment__methods-title {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 10px;

        .title {
          font: 600 var(--font-variant-sub-title);
        }
      }
    }
  }

  .order {
    width: 100%;
    //@extend %effect-swatch-cards;

    //display: flex;
    //flex-direction: column;
    //padding: 12px;
    //gap: 12px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    position: relative;
    width: 100%;

    .btn {
      width: 24px;
      height: 24px;

      object {
        width: 24px;
        aspect-ratio: 1;
        padding: 2px;
      }
    }

    .title {
      font: 600 var(--font-variant-5);
      text-align: center;
      flex: 1;
    }
  }

  &__items {
    /* cart_tabs_and_list */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    position: relative;
    width: 100%;
  }
}
