@use "../../styles/tools.breakpoint" as breakpoint;

.nav {
}

.nav-header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-type-5);

  & > * {
    flex: 1;
  }

  @include breakpoint.tablet {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: "navLogo navSearch navSupport";
    gap: 10px 0;
    height: 48px;
  }

  @include breakpoint.tablet-only {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "navLogo navSupport" "navSearch navSearch";
  }
}

.logo {
  grid-area: navLogo;
  display: flex;
  align-content: start;

  @media (max-width: 400px) {
    width: 40px;
    height: 40px;
    overflow: hidden;
  }

  a {
    display: inline-flex;
    align-items: center;
    padding: 8px;
  }

  img, object {
    @include breakpoint.phablet {
      max-width: 180px;
      height: 30px;
    }

    @include breakpoint.mobile-only {
      max-width: 150px;
      height: 25px;
    }
  }
}

.search-form {
  grid-area: navSearch;
  display: flex;
  border-radius: 5px;
  align-items: center;

  @include breakpoint.tablet {
    max-width: 625px;
  }

  @include breakpoint.tablet-only {
    padding: 0 10px 10px;
  }

  .button {
    display: inline-flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    //border-radius: 0 5px 5px 0;
    margin-left: 5px;
    padding: 8px;

    object {
      width: 16px;
      height: 16px;
    }
  }

  .field {
    flex: 1;
    font: var(--font-variant-label);
    border: 1px solid rgba(0, 0, 0, 0.1);
    //border-radius: 5px 0 0 5px;
    padding: 8px 16px;
  }
}

.support-links {
  grid-area: navSupport;
  justify-self: end;

  ul {
    display: flex;
    justify-content: center;
    padding: 8px;
  }

  li {
    &:not(:first-child) {
      //padding-left: 15px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }

    &:not(:last-child) {
      //padding-right: 15px;
    }
  }

  a, button {
    display: flex;
    align-items: center;
    align-content: center;
    font: var(--font-variant-label);
    cursor: pointer;
    height: 100%;
    padding: 6px 8px;
    gap: 0;

    img {
      width: 20px;
      height: 20px;
      aspect-ratio: 1/1;
    }

    object {
      width: 20px;
      height: 20px;
      aspect-ratio: 1/1;
    }

    span {
      &:not(:empty) {
        display: inherit;
        align-items: center;
        min-width: 20px;
        height: 20px;
      }

      //display: inherit;
      //width: 20px;
      //padding: 5px;

      //@include breakpoint.laptop-only {
      //  display: none;
      //}
    }

    .count {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 2px 4px;
      margin-left: 4px;
      font: 500 var(--font-variant-label);
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: var(--border-radius);
      min-width: 16px;
      height: 20px;
    }
  }
}

.categories {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: white;
  width: 100%;

  .nav, .cta {
    display: flex;
    align-items: center;

    a {
      display: inline-flex;
      font: 500 var(--font-variant-caption);
      white-space: nowrap;
      //padding: 10px 10px;
      //height: 40px;

      span {
        display: inherit;
      }
    }
  }

  .nav {
    a {
      height: 48px;
      //border: 1px solid rgba(0, 0, 0, .1);
      line-height: 24px;
      padding: 12px;
    }
  }

  .cta {
    //padding-inline: 10px;

    a {
      color: inherit;
      display: inherit;
      white-space: nowrap;
      background: var(--color-type-9);
      line-height: 16px;
      padding: 6px 12px;
      margin: 10px;
    }
  }

  .nav {
    height: 48px;

    ul, .sf-menu {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 0;
      box-shadow: none;
      border: none;

      ul {
        //box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
        //min-width: 12em;

        ul {
          //top: 100%;
          //left: 0;
        }
      }
    }

    li {
      background: var(--color-type-4);

      &.sfHover {
        background-color: var(--color-type-9);
      }
    }

    a {
      align-items: center;
      color: var(--color-type-8);
      box-shadow: 0 0 1px var(--color-type-8);
      position: relative;
      max-width: 48ch;

      img {
        width: 21px;
        line-height: 20px;
        aspect-ratio: 1/1;
        margin-right: 5px;
      }

      &:hover {
        color: var(--color-type-6);
      }

      &.selected {
        color: var(--color-type-6);
        font-weight: 600;

        &:after {
          content: "";
          width: 100%;
          height: 4px;
          background-color: var(--color-type-6);
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

.categories__all {
  overflow: hidden;
  box-shadow: none;
  border: none;

  &:has(.sf-js-enabled) {
    overflow: visible;
  }

  a {
    width: 100%;
  }
}

.categories__list {
  flex: 1;
  scrollbar-width: none;
  scrollbar-gutter: stable;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &:has(.sf-js-enabled) {
    overflow-x: visible;
  }

  @include breakpoint.mobile-only {
    display: none;
  }
}
