.Categories__container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.Categories__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    font-weight: 700;
}

.Categories__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
}

.Categories__arrows img {
    margin-right: 10px;
}

// TODO: change to grid
.Categories__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.gallery__item {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
}

.gallery__image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 20px;
}

.gallery__image img {
    width: 100%;
    height: 100%;
}