@use "../../styles/objects" as objects;

.topCategories {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.topCategories__title {
  @extend .title;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  font-weight: 700;
}

.topCategories__arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  img {
    margin-right: 10px;
  }
}

// TODO: change to grid
.topCategories__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  .gallery__item {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--font-size-4);
    font-weight: 500;
    text-align: center;
  }

  .gallery__image {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
